

:root {
    --primaria-preto: #131313;
    --secundaria-preto: #222222;
    --primaria-branca: #ffffff;
    --espaco-medio: 2rem;
    --espaco-largo: 4rem;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: var(--secundaria-preto);
    color: var(--secundaria-preto);
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    padding: var(--espaco-medio);
}

.main-header-container {
    background: var(--primaria-preto);
}

.main-logo {
    font-size: 4rem;
    color: var(--primaria-branca);
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.main-logo-icon {
    margin: 1rem;

}

.main-logo {
    font-size: 4rem;
    color: var(--primaria-branca);
    text-decoration: none;
}

.search-form {
    border: .2rem solid var(--primaria-branca);
    max-width: 64rem;
    margin: 0 auto;
    border-radius: .4rem;
    position: relative;
    transition: all 300ms ease;
}

.search-input,
.search-button {
    border: none;
    background: none;
    outline: none;
    padding: 1rem;
}


.search-button {
    position: absolute;
    top: 0;
    right: 0;
}

.search-button:focus {
    outline: 2px solid cyan;
    background: rgb(0, 0, 0, .100);
}

.search-input {
    width: 100%;
    padding-right: 3rem;
    position: center;
    color: white;
    font-size: 1.2rem;
    font-family: 'Roboto Slab', serif;

}

.search-form:focus-within {
    border-color: cyan;
    background-color: #2d2c2d;

}

.search-form:focus-within .search-button {
    border-color: cyan;
}

.main-content {
    padding: 0;

}

.main-content-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: var(--espaco-largo)
}


.recipe {
    background: var(--primaria-branca);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, .2);
    transform: scale(1);
    transition: all 300ms ease-in-out;
    border-radius: .8rem;
    overflow: hidden;
}

.recipe img {
    max-width: 100%;
}

.recipe-list-item {
    max-width: 64rem;
    background: var(--primaria-branca);
}

.recipe-list-item:hover {
    transform: scale(1.02);
    box-shadow: -8px 8px 8px rgba(0, 0, 0, .25);

}

.recipe-title-container {
    padding: var(--espaco-medio);
    padding-bottom: 2rem;
}

.recipe-author {
    padding: 0 var(--espaco-medio);

}

.recipe_content {
    padding: var(--espaco-medio);
    padding-top: 2rem;
}

.recipe-author-item {
    color: #c0c0c0;
}

.recipe-author a {
    color: var(--primaria-preto);
    transition: all 300ms ease-in-out;
    text-decoration: none;
}

.recipe-author a:hover {
    color: #c9c8c0;
}

.recipe-meta-container {
    display: flex;
    flex-flow: row flex;
    padding: var(--espaco-medio);
    background: #056622;
}

.recipe-meta {
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 1;
    flex-grow: 1;
    text-align: center;
}

.recipe-meta-title {
    font-size: 2rem;
}

.recipe-footer a {
    background: #131313;
    display: block;
    flex-flow: row nowrap;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 2rem;
    transition: all 300ms ease-in-out;
}

.recipe-footer a:hover {
    filter: brightness(1.2);
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primaria-preto);
    color: var(--primaria-branca);
    padding: var(--espaco-largo);

}

.main-footer a {
    color: white;
    font-size: 1.2rem;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    transition: all 300ms ease-in-out;

}

.main-footer a:hover {
    filter: brightness(.8);

}
