<div class="recipe recipe-list-item">
    <div class="recipe-cover">
        <a href="{% url 'receitas:receita' receita.id %}">
            <!-- <img src="https://via.placeholder.com/1280x720/47484A.png" alt='temporario'> !-->
            <img src="{{ receita.capa.url }}" alt='temporario' />
        </a>
    </div>
    <div class="recipe-title-container">
        <h2 class="recipe-title">
            <a href="{% url 'receitas:receita' receita.id %}">
                {{ receita.titulo }}
        </h2>
        </a>
    </div>


    <div class="recipe-author">
       
            <span class="recipe-author-item">
                <i class="fas fa-user"></i>
                {% if receita.usuario is not None %}
                    {% if receita.primeiro_nome %}
                        {{ receita.primeiro_nome }} {{ receita.segundo_nome }}
                    {% else %}
                        {{ receita.usuario }}
                    {% endif %}
                {% else %}
                Desconhecido
                {% endif %}
        </span>
        <span class="recipe-author-item">
            <i class="fa fa-calendar-alt"></i>
            {{ receita.data_criacao }}
        </span>
        {% if receita.categoria is not None %}
            <span class="recipe-author-item">
                <a href="{% url 'receitas:categoria' receita.categoria.id %}" >
                    <i class="fas fas-layout-group"></i>
                    <span> {{ receita.categoria.nome }} </span>
                </a>
            </span>
        {% endif %}

    </div>
    <div class="recipe_content">
        <p> {{ receita.descricao }}</p>
    </div>


    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">

            <h3 class="recipe-meta-title"><i class="fas fa-stopwatch"></i> Preparo</h3>
            <div class="recipe-meta-text">
                {{ receita.tempo_preparo }} {{ receita.tipo_tempo }}
            </div>
        </div>



        <div class="recipe-meta recipe-servings">
            <div class="recipe-meta recipe-preparation">

                <h3 class="recipe-meta-title"><i class="fas fa-pizza-slice"></i> Porções</h3>
                <div class="recipe-meta-text">
                    {{ receita.quantidade_porcao }} {{ receita.tipo_unitario }}
                </div>
            </div>

        </div>


    </div>

    {% if detail_page is not True %}

    <footer class="recipe-footer">
        <a class="recipe-read-more button button-dark button-full-width" href="{% url 'receitas:receita' receita.id %}">
            <i class="fas fa-eye"></i>
            <span>Ver mais...</span>
        </a>
    </footer>
    {% endif %}

    {% if detail_page is True %}
        <div class="preparation-steps">
            {% if receitaetapa_de_preparo_e_html is True %} 
            {{ receita.tempo_preparo|safe }}  <!--- MUITO CUIDADO! COLOQUEI PERMISSÃO SOMENTE PARA OS ADMINS DO SITE-->
        {% else %} 
            {{ receita.etapa_de_preparo|linebreaksbr }}
        {% endif %}
         </div>
    {% endif %}
</div>